
.col-md-1
.col-md-6.aboutpage
  .roundedimage
    =image_tag "profilepic.jpg", :alt=>"David and Biscuit", :height=>"200px", :width=>"200px"


  %h2 Team Mapper
  %p Hi, we're Team Mapper.  We hope you enjoy using our free mapping app.

  %p Mapper is run by the Dynamic Duo of coding: David and Biscuit (pictured).  Mapper hopes to make your mapping easy, simple, and fun.  Feel free to contact us with your feedback.  

  Happy mapping!  &nbsp; &nbsp; 
  %span.glyphicon.glyphicon-road
  %br