.jumbotron
	%h1 Welcome to Mapper
	%p An awesome map app.
	%p More soon.
	%a.btn.btn-primary.btn-lg{href: "/main/about", role: "button"} Learn more

.container
	.row
		.col-md-4 
			%h3 Bacon
			%p Bacon ipsum dolor sit amet leberkas jerky venison drumstick t-bone, beef ribs filet mignon rump ham hock andouille. Bacon pastrami beef ribs shank porchetta corned beef. Ground round swine capicola, shank porchetta pork tail frankfurter brisket turkey drumstick. Strip steak ball tip chuck meatloaf. 
		.col-md-4 
			%h3 Ham
			%p Bacon ipsum dolor sit amet leberkas jerky venison drumstick t-bone, beef ribs filet mignon rump ham hock andouille. Bacon pastrami beef ribs shank porchetta corned beef. Ground round swine capicola, shank porchetta pork tail frankfurter brisket turkey drumstick. Strip steak ball tip chuck meatloaf. 
		.col-md-4
			%h3 Sausage
			%p Bacon ipsum dolor sit amet leberkas jerky venison drumstick t-bone, beef ribs filet mignon rump ham hock andouille. Bacon pastrami beef ribs shank porchetta corned beef. Ground round swine capicola, shank porchetta pork tail frankfurter brisket turkey drumstick. Strip steak ball tip chuck meatloaf. 
